html {
  box-sizing: border-box;
}

body {
  margin: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  object-fit: contain;
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

#l {
  display: none;
}
